.body{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container{
        max-width: 400px;
    }

    .errorMsg{
        color: #F44336;
    }
}